@import '../variables.scss';

.navbar {
    height: 50px;
    background-color: $black;
    position: relative;
    font-size: 14px;
    &__header {
        display: inline;
        text-transform: uppercase;
        &__title {
            text-decoration: none;
            display: inline-block;
            color: $white;
            font-weight: bold;
            padding: 15px 10px 10px 20px;
        }
    }
    &__links {
        float: right;
        a {
            display: inline-block;
            padding: 15px 20px 13px 10px;
            text-decoration: none;
            color: $white;
            text-transform: uppercase;
        }
    }
}
  
@media (max-width:950px) {
    .navbar {
        &__header {
            &__title {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__links {
            display: none;
        }   
    } 
}