@import './variables.scss';
@import './mixins.scss';

.sidebar {
    width:300px;
    text-align: center;
    border-left: 2px solid $light-gray;
    border-right: 2px solid $light-gray;
    &__header {
        @include header-block;
    }
    &__profileImage {
        width: 250px;
        border-radius: 50%;
    }
    &__fullName {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
    }
    &__property {
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: $spacing-unit;
    }
    &__info {
        text-align: justify;
        font-size: 14px;
        margin-bottom: $spacing-unit;
        padding: $spacing-unit;
    }
    &__social-media {
        display: inline-block;
        &__social {
            color:$black;
            padding: 15px;
            i {
                width:25px;
                height:25px;
            }
        }
    }
}