@import './components/navbar.scss';
@import './components/post.scss';
@import './components/postPreview.scss';
@import './components/sidebar.scss';

@import './pages/landpage.scss';

* {
    box-sizing: border-box;
}

body {
    width: 60%;
    margin: 0 auto;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}